<div class="container">
  <div class="form">
    <form action="">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Enter GitHub Username"
          [(ngModel)]="username"
          (keyup)="findUser()"
          name="username"
        />
      </div>
    </form>
  </div>
  <div *ngIf="profile">
    <div class="row">
      <div class="coulumn-md-4">
        <div class="profile-pic">
          <img
            src="{{ profile.avatar_url }}"
            alt="Profic Image"
            class="img-fluid"
          />
          <h3>{{ profile.login }}</h3>
          <p *ngIf="profile.name">{{ profile.name }}</p>
          <p>
            <span class="badge badge-success"
              >Followers: {{ profile.followers }}</span
            ><span class="badge badge-info px-3"
              >Following: {{ profile.following }}</span
            >
            <span class="badge badge-primary"
              >Public Repos:{{ profile.public_repos }}</span
            >
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <h2>REPOSITORIES</h2>
        <div class="repos" *ngFor="let repo of repos">
          <h3>
            <a href="{{ git_url }}" target="_blank"> {{ repo.name }}</a>
            <span class="badge badge-warning"
              ><i class="fas fa-star"></i>{{ repo.stargazers_count }}</span
            >
            <span class="badge badge-danger"
              ><i class="fas fa-code-branch"></i>{{ repo.forks }}</span
            >
          </h3>
          <p *ngIf="repo.description">{{ repo.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
