<div *ngIf="profile">
  <div class="row">
    <div class="coulumn-md-4">
      <div class="profile-pic">
        <img
          src="{{ profile.avatar_url }}"
          alt="Profic Image"
          class="img-fluid"
        />
        <h3>{{ profile.login }}</h3>
        <p *ngIf="profile.name">{{ profile.name }}</p>
        <p>
          <span class="badge badge-success"
            >Followers: {{ profile.followers }}</span
          ><span class="badge badge-info"
            >Following: {{ profile.following }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
